.aside .logo a::before{
    border-top: 6px solid #2196f3;
    border-left: 6px solid #2196f3;
}

.aside .logo a::after{
    border-bottom: 6px solid #2196f3;
    border-right: 6px solid #2196f3;
}
.contact .contact-info-item .icon .fa,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #2196f3;
}
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
    background-color: #2196f3;
}

.home .intro .social-links a{
    background-color: #2196f3;
}